.Xauthority
.aliases_common
.aliases_desktop
.antigen/
.asoundrc
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Trolltech.conf
.config/awesome/new-rc.lua
.config/awesome/rc.lua~
.config/chromium/
.config/dconf/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/pulse/
.config/terminator/
.config/vlc/
.conky/
.emacs.d.orig/
.emacs.d/auto-save-list/
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/emacs.desktop
.emacs.d/lock
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/tramp
.emacs.orig
.esd_auth
.gitconfig
.gnome/
.lesshst
.local/
.lumo_history
.m2/
.mozilla/
.oh-my-zsh/
.pki/
.saves/
.screenlayout/
.ssh/
.viminfo
.zcompdump
.zcompdump-archlinux-5.4.1
.zsh-update
.zsh_history
.zshrc
.zshrc-functions.sh
.zshrc.pre-oh-my-zsh
.zshrc~
Downloads/
data.edn
fenton/
movies/
phone.txt
projects/
tmp/
ttt/
.emacs.d/
.lein/
.gnupg/
.asoundrc.orig
.babel.json
.config/configstore/*
.config/evince/*
.config/gconf/*
.config/git/*
.config/obs-studio/*
/.config/pavucontrol.ini
/.emacs~
/.floorc.json
.npm/*
/udev.out
abx/*
\tmp/*
