! xterm*faceSize: 23

URxvt.font: xft:DejaVu Sans Mono:pixelsize=20:hinting=true
URxvt.background:       black
URxvt.foreground:       white
URxvt.color7:           gray90
URxvt.colorBD:          #ffffff
URxvt.cursorColor:      #e0e080
URxvt.throughColor:     #8080f0
URxvt.highlightColor:   #f0f0f0
  
